In [117]:
import pandas as pd
import numpy as np
import collections
import math

In [118]:
exp_num = 1
unique_huge = pd.read_csv("../hugecookies/hugecookies-{}.csv".format(exp_num))

In [119]:
unique_huge.shape

(280812, 7)

In [120]:
unique_huge.dropna(inplace=True)
unique_huge.shape

(270433, 7)

In [121]:
unique_huge = unique_huge[unique_huge['value'].str.len() >= 8]
unique_huge.shape

(203074, 7)

In [122]:
unique_huge.drop(unique_huge[unique_huge.name.str.contains('Test|test|lang|SameSite|Samesite|sameSite|samesite|expires|Path|path|domain|Expires|max-age')].index, inplace=True)
unique_huge.drop(unique_huge[unique_huge.value.isin(['1','0','2','true','yes','YES','ok','nan','none','None','NO_DATA','null','setstatuscode~~1'])].index, inplace=True)
unique_huge.shape

(198045, 7)

In [125]:
l = ['cnn','nytimes','theguardian','washingtonpost','forbes',\
     'webmd','mayoclinic','myfitnesspal','medscape','verywellhealth',\
     'jhu','mit','edx','harvard','colledgeboard']

unique_huge['vname'] = unique_huge['visit_id'].apply(lambda x: l[math.ceil(x/5)-1])
unique_huge
# ls_news = ['cnn','nytimes','theguardian','washingtonpost','forbes']
# ls_health = ['webmd','mayoclinic','myfitnesspal','medscape','verywellhealth']
# ls_education = ['jhu','mit','edx','harvard','colledgeboard']
# name_dict = {1: ls_news, 2: ls_health, 3:ls_education}

,context_id,visit_id,host,name,value,time_stamp,type,vname
0,1,1,.bing.com,MUID,23271CC522FB698D03CA127823796817,2020-05-01T13:46:19.911Z,added-or-changed,cnn
3,1,1,.demdex.net,demdex,41716664660881085583464462140903477176,2020-05-01T13:46:20.214Z,added-or-changed,cnn
6,1,1,.adsrvr.org,TDID,35549598-c1d5-4c6f-b6a9-61f2f82d6295,2020-05-01T13:46:21.004Z,added-or-changed,cnn
7,1,1,.bounceexchange.com,bounceClientVisit340c,%7B%22vid%22%3A1588340781117590%2C%22did%22%3A...,2020-05-01T13:46:21.146Z,added-or-changed,cnn
8,1,1,.facebook.com,fr,00uvqGJITlYgeR16V..BerCgt...1.0.BerCgt.,2020-05-01T13:46:21.207Z,added-or-changed,cnn
...,...,...,...,...,...,...,...,...
280806,3,75,https://assets.adobedtm.com/7a8a98de0363fbed05...,s_lastvisit,1588342528058,2020-05-01T14:15:28.283Z,get,colledgeboard
280807,3,75,https://assets.adobedtm.com/7a8a98de0363fbed05...,s_lastvisit_s,First%20Visit,2020-05-01T14:15:28.283Z,get,colledgeboard
280809,3,75,https://assets.adobedtm.com/7a8a98de0363fbed05...,gpv_c32,bigfuture,2020-05-01T14:15:28.283Z,get,colledgeboard
280810,3,75,https://assets.adobedtm.com/7a8a98de0363fbed05...,gpv_pn,bigfuture%2Fget-in%2Fapplying,2020-05-01T14:15:28.283Z,get,colledgeboard
280811,3,75,https://assets.adobedtm.com/7a8a98de0363fbed05...,kiwi_sess,"{""user"":{},""prev"":{""siteCode"":"""",""pageName"":""""...",2020-05-01T14:15:28.283Z,get,colledgeboard

In [126]:
unique_huge['namevalue'] = list(map(lambda a, b: (a, b), unique_huge["name"].astype(str), unique_huge["value"].astype(str)))

In [127]:
byoccur = unique_huge.groupby(["namevalue", "context_id"], as_index = False)['time_stamp'].count()
byoccur
#temp2.to_csv("unique_namevalue-3.csv", index=False)

,namevalue,context_id,time_stamp
0,"(107, 20200501)",1,5
1,"(108, 20200501)",1,4
2,"(110, 20200501)",1,3
3,"(112, 20200501)",1,2
4,"(113, 20200501)",1,9
...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,3
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,7
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,16
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,6
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,5

In [128]:
# clean host domain 
temp = list(map(lambda x:".".join(x.split(".")[:2]).replace('https://','').replace('www',''), unique_huge['host'].tolist()))                    
len(temp)
unique_huge['host_clean'] = temp

In [129]:
byvisit = pd.DataFrame(unique_huge.groupby(["namevalue", "context_id"], as_index = False)['vname'].apply(set).reset_index(name='byvname'))
byvisit

,namevalue,context_id,byvname
0,"(107, 20200501)",1,{theguardian}
1,"(108, 20200501)",1,{theguardian}
2,"(110, 20200501)",1,{theguardian}
3,"(112, 20200501)",1,{theguardian}
4,"(113, 20200501)",1,"{theguardian, forbes, nytimes, cnn}"
...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,{cnn}
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,"{theguardian, cnn}"
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,{forbes}
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,{webmd}
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,{forbes}

In [130]:
# byhost = pd.DataFrame(unique_huge.groupby(["namevalue", "context_id"], as_index = False)['host_clean'].apply(list))
byhost = pd.DataFrame(unique_huge.groupby(["namevalue", "context_id"], as_index = False)['host_clean'].apply(set).reset_index(name='byhost'))
byhost

,namevalue,context_id,byhost
0,"(107, 20200501)",1,"{match.deepintent, .deepintent}"
1,"(108, 20200501)",1,"{match.deepintent, .deepintent}"
2,"(110, 20200501)",1,"{match.deepintent, .deepintent}"
3,"(112, 20200501)",1,"{match.deepintent, .deepintent}"
4,"(113, 20200501)",1,"{match.deepintent, .deepintent}"
...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,"{.yieldmo, ads.yieldmo}"
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,"{b1sync.zemanta, .zemanta}"
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,"{b1sync.zemanta, .zemanta}"
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,"{b1sync.zemanta, .zemanta}"
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,"{live.rezync, .rezync}"

In [131]:
highlight = pd.merge(byoccur, byhost, on=['namevalue',  'context_id'])
highlight = pd.merge(highlight, byvisit, on=['namevalue',  'context_id'])
highlight

,namevalue,context_id,time_stamp,byhost,byvname
0,"(107, 20200501)",1,5,"{match.deepintent, .deepintent}",{theguardian}
1,"(108, 20200501)",1,4,"{match.deepintent, .deepintent}",{theguardian}
2,"(110, 20200501)",1,3,"{match.deepintent, .deepintent}",{theguardian}
3,"(112, 20200501)",1,2,"{match.deepintent, .deepintent}",{theguardian}
4,"(113, 20200501)",1,9,"{match.deepintent, .deepintent}","{theguardian, forbes, nytimes, cnn}"
...,...,...,...,...,...
1984,"(yieldmo_id, gfbadb6bd95b3901ea14%7C1588340794...",1,3,"{.yieldmo, ads.yieldmo}",{cnn}
1985,"(zuid, NJppPAXpgjXfYmXTpDZ7)",1,7,"{b1sync.zemanta, .zemanta}","{theguardian, cnn}"
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,16,"{b1sync.zemanta, .zemanta}",{forbes}
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,6,"{b1sync.zemanta, .zemanta}",{webmd}
1988,"(zync-uuid, 8d68cac9-9a8f-4e94-8ce4-c869ce9fdf...",1,5,"{live.rezync, .rezync}",{forbes}

In [132]:
# select only across contexts
ltd = []
Counter = collections.Counter(highlight.namevalue.tolist())

In [133]:
for key, value in Counter.items():
    if value == 1:
        ltd.append(key)

In [135]:
indtd = highlight[highlight['namevalue'].isin(ltd)].index
highlight.drop(indtd, inplace=True)
highlight

,namevalue,context_id,time_stamp,byhost,byvname
6,"(131, 20200501)",1,8,"{match.deepintent, .deepintent}","{theguardian, forbes, nytimes}"
7,"(131, 20200501)",2,1,{.deepintent},{medscape}
11,"(A3, d=AQABBBoqrF4CEPdY3jmf7y0lqIos6X6BvLMFEgE...",1,37,"{pr-bh.ybp, cookiex.ngd, cms.analytics, beap-b...","{forbes, washingtonpost}"
12,"(A3, d=AQABBBoqrF4CEPdY3jmf7y0lqIos6X6BvLMFEgE...",2,22,"{ads.yahoo, pr-bh.ybp, ups.analytics, .yahoo}",{webmd}
16,"(A3, d=AQABBPcsrF4CENuOO3pHfRbNXEYpdY8MhvEFEgE...",2,9,"{cookiex.ngd, beap-bc.yahoo, .yahoo}","{myfitnesspal, medscape}"
...,...,...,...,...,...
1965,"(visitor-id, 2313428786589727000V10)",2,139,"{hbxlp.media, hbx.media, lgncal.media, context...",{webmd}
1973,"(wfivefivec, 4FlCNvXw1Juw7K5)",1,13,"{.w55c, pm.w55c, i.w55c}",{forbes}
1974,"(wfivefivec, 4FlCNvXw1Juw7K5)",2,3,"{.w55c, pm.w55c}",{webmd}
1986,"(zuid, TM6LMxYK3kC19y2AVTom)",1,16,"{b1sync.zemanta, .zemanta}",{forbes}
1987,"(zuid, TM6LMxYK3kC19y2AVTom)",2,6,"{b1sync.zemanta, .zemanta}",{webmd}

In [136]:
highlight.to_csv("../sankey/sankey-name-{}.csv".format(exp_num), index=False)